body{
    justify-content: center;
    align-items: center;
}

.array-container{
    height: 700px;
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.array-bar{
    width: 5px;
    display: inline-block;
    margin: 0 2px;
    background-color: blue;
}